$primary-color: hsl(148, 48%, 43%);
$primary-text-color: hsl(0, 0%, 100%);

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  position: sticky;
  top: 0;
  background-color: $primary-color;
  color: $primary-text-color;

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    margin: 0 auto;
    padding: 0 0.75em;
    max-width: 1632px;
    min-height: 3em;

    h1 {
      margin: 0;
      font-size: 1.5em;
    }

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 0.75em;
      margin: 0;
      padding: 0;

      li a {
        display: block;
        color: inherit;
        text-decoration: none;
      }
    }

    #nav-menu-toggle {
      display: none;
    }

    label[for="nav-menu-toggle"] {
      display: none;

      .nav-hamburger {
        height: 3em;
        cursor: pointer;
        transition: transform 400ms;
        user-select: none;

        .nav-hamburger__line {
          fill: none;
          transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
          stroke: currentColor;
          stroke-width: 5.5;
          stroke-linecap: round;

          &--top {
            stroke-dasharray: 40 139;
          }

          &--bottom {
            stroke-dasharray: 40 180;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    nav {
      label[for="nav-menu-toggle"] {
        display: flex;
      }

      ul {
        display: none;
      }
    }

    #nav-menu-toggle:checked {
      ~ ul {
        position: absolute;
        inset: 100% 0 auto 0;
        padding: 0.25em 0.75em 0.5em 0.75em;
        background-color: $primary-color;
        display: grid;
        gap: 0.25em;
        transform-origin: top;
        animation: mobile-nav-menu-animation 0.25s cubic-bezier(0.1, 1.45, 0.35, 1);

        @keyframes mobile-nav-menu-animation {
          0% {
            transform: scaleY(0.6);
          }

          to {
            transform: scaleY(1);
          }
        }

        li a {
          font-size: 1.25em;
          padding: 0.5em 0;
        }
      }

      ~ label[for="nav-menu-toggle"] .nav-hamburger {
        transform: rotate(45deg);

        .nav-hamburger__line {
          &--top {
            stroke-dashoffset: -98px;
          }

          &--bottom {
            stroke-dashoffset: -138px;
          }
        }
      }
    }

  }
}

main {
  margin: 0 auto;
  padding: 0.75em;
  max-width: 1632px;
}
